[Unit]
Description = CherryRGB UHID daemon

[Service]
EnvironmentFile = -/etc/default/cherryrgb
ExecStart = /usr/libexec/cherryrgb_service $CHERRYRGB_OPTIONS

[Install]
WantedBy = multi-user.target
